/* VARIABLES */
:root {
  --main-body-color: #ffffff;
  --main-box-color: #ffffff;
  --main-text-color: #000000;
  --main-info-color: #555555;
  --darkmodbtn-card-bg-color: #f5f5f5;
  --border-color:#E5E7EA;
  --btn-bg-color: #299764;
  --btn-bgdef-color: #077743;
  --border-color:#E5E7EA;
}

.body--dark {
  --main-body-color: #1c1c1c;
  --main-text-color: #ffffff;
  --darkmodbtn-card-bg-color: #272727;
  --btn-bg-color: #299764;
  --border-color:#E5E7EA;
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* montserrat-400 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

svg {
  display: block;
}

button {
  cursor: pointer;
}

.site-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--main-body-color);
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 18px 0;
  border-bottom: 1.5px solid #e5e7ea;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-logo {
  margin: 0;
}

.body--dark .moon {
  display: none;
}
.body--dark .sun {
  display: block;
}

.moon {
  display: block;
}

.sun {
  display: none;
}

.menu {
  width: 100%;
}

.menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__start {
  margin-right: auto;
}

.header__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body--dark .nav-item:not(:first-child)::after {
  background-image: url("../../images/icons/caret-down.svg");
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-left: 20px;
  position: relative;
}

.nav-item {
  padding: 18px 16px;
  border-radius: 100px;
}
.nav-item:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-item:not(:first-child)::after {
  margin-left: 8px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/caret-down-dark.svg");
}
.nav-item:hover {
  background-color: var(--darkmodbtn-card-bg-color);
}
.nav-item:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav-item:hover .nav-list__group,
.nav-item:hover .nav-list__group-help {
  display: block;
}

.nav-link {
  text-decoration: none;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.nav-list__group {
  z-index: 9;
  display: none;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 10px;
  width: 147px;
  position: absolute;
  margin-left: -16px;
  top: 100%;
  background-color: var(--main-body-color);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.nav-list__group-help {
  z-index: 9;
  display: none;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 10px;
  width: 169px;
  position: absolute;
  margin-left: -16px;
  top: 100%;
  background-color: var(--main-body-color);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.nav-list__active-item {
  padding: 18px 16px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.nav-list__active-item:hover {
  background-color: var(--darkmodbtn-card-bg-color);
}
.nav-list__active-item:active {
  background-color: var(--btn-bg-color);
}
.nav-list__active-item:active .nav-list__link {
  color: var();
}

.nav-list__link {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  color: var(--main-text-color);
}

.logo-inner {
  display: none;
}

.header-phon-number {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: left;
  color: var(--main-text-color);
  display: inline-block;
  text-decoration: none;
  margin-right: 24px;
}

.theme-btn {
  border: none;
  background-color: var(--darkmodbtn-card-bg-color);
  border-radius: 50%;
  padding: 18px;
  margin-right: 16px;
}
.theme-btn svg path {
  fill: var(--main-info-color);
}
.theme-btn:hover svg path {
  fill: var(--main-text-color);
}
.theme-btn:active {
  background-color: var(--btn-bg-color);
}
.theme-btn:active svg path {
  fill: var(--main-box-color);
}

.login-btn {
  padding: 18px 30px;
  border: none;
  background-color: var(--btn-bg-color);
  border-radius: 100px;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: var(--main-box-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-btn::after {
  margin-left: 8px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/login-light.svg");
}
.login-btn:hover {
  background-color: var(--btn-bgdef-color);
}
.login-btn:active {
  color: var(--main-text-color);
  background-color: var(--darkmodbtn-card-bg-color);
}
.login-btn:active::after {
  background-image: url("../../images/icons/login-dark.svg");
}

.phone-mobile {
  display: none;
}

.menu-btn {
  display: none;
  border: none;
  background-color: var(--main-body-color);
  width: 40px;
  height: 20px;
}
.menu-btn svg path {
  stroke: var(--main-text-color);
}

@media only screen and (max-width: 1045px) {
  .site-header {
    padding: 24px 0;
  }
  .menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .header--active {
    position: relative;
  }
  .header--active .menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header--active .menu-inner {
    z-index: 10;
    max-width: 475px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--main-body-color);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .header--active .header__end {
    width: 100%;
    margin-bottom: 40px;
  }
  .header--active .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0;
  }
  .header--active .nav-item {
    display: block;
    background-color: transparent;
    padding: 0;
  }
  .header--active .nav-item:not(:last-child) {
    margin-bottom: 52px;
  }
  .header--active .nav-item::after {
    display: none;
  }
  .header--active .nav-list__group,
.header--active .nav-list__group-help {
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    position: static;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
  .header--active .nav-list__active-item {
    padding: 0;
  }
  .header--active .nav-list__active-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .header--active .nav-list__link {
    color: var(--main-info-color);
  }
  .header--active .logo-inner {
    max-width: 421px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 78px;
  }
  .header--active .btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    padding: 18px;
    background-color: var(--darkmodbtn-card-bg-color);
    border-radius: 100px;
  }
  .header--active .btn-close svg path {
    fill: var(--main-text-color);
  }
}
@media only screen and (max-width: 600px) {
  .header--active .menu-inner {
    width: 100%;
  }
  .header--active .logo-inner {
    margin-bottom: 40px;
  }
  .header--active .nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .header--active .phone-mobile {
    display: block;
    margin-top: 32px;
  }
  .header--active .header__end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header--active .phone-desktop {
    display: none;
  }
}
.hero {
  padding-top: 20px;
}

.hero-inner {
  position: relative;
}

.item {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  background-size: cover;
  background-position: center;
}

.item-compact-cars {
  background-image: url("../../images/carusel-image-one.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .item-compact-cars {
    background-image: url("../../images/carusel-image-one@2x.jpg");
  }
}

.item-sports-cars {
  background-image: url("../../images/carusel-image-two.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .item-sports-cars {
    background-image: url("../../images/carusel-image-two@2x.jpg");
  }
}

.item-Vans {
  background-image: url("../../images/carusel-image-there.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .item-Vans {
    background-image: url("../../images/carusel-image-there@2x.jpg");
  }
}

.coarousel-content {
  max-width: 416px;
}

.coarousel-content__title {
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--main-box-color);
}

.coarousel-content__text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--main-box-color);
}

.owl-nav {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.owl-prev,
.owl-next {
  opacity: 1 !important;
  width: 36px;
  height: 36px;
  background-color: #ffffff !important;
  border-radius: 50% !important;
  background-image: url("../../images/icons/caret-down-dark.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}
.owl-prev span,
.owl-next span {
  opacity: 0;
}

.owl-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.owl-dots {
  position: absolute;
  left: 40px;
  bottom: 54px;
}
.owl-dots .active span {
  width: 30px !important;
  background-color: #ffffff !important;
  border-radius: 100px;
}

.hero-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 0;
  left: 0;
  bottom: 30px;
}

.search-input {
  border: none;
  width: 100%;
  padding: 22px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}
.search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.search-input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.search-input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.search-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}

.search-btn {
  border: none;
  position: absolute;
  right: 14px;
  top: 4px;
  width: 54px;
  height: 54px;
  background-color: var(--btn-bg-color);
  border-radius: 50%;
  background-image: url("../../images/icons/search-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.choose {
  padding-bottom: 160px;
}

.choose__content {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.choose__title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
}

.choose__text {
  margin: 0;
  color: var(--main-info-color);
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.choose__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 24px;
}

.choose__filter-item {
  padding: 19px 40px;
  background-color: transparent;
  border: 1.5px solid;
  border-color: var(--border-color);
  border-radius: 100px;
}
.choose__filter-item:not(:last-child) {
  margin-right: 16px;
}

.choose__filter-link {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--main-text-color);
  display: inline-block;
  text-decoration: none;
}

.choose__filter-item--active {
  color: #FFFFFF;
  background-color: var(--btn-bg-color);
  border: transparent;
}

.choose__filter-item--active .choose__filter-link {
  color: #FFFFFF;
}

.panel__list {
  display: none;
}

.panel__list--active {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.panel__item {
  width: 387px;
  margin-right: 5px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: var(--darkmodbtn-card-bg-color);
  cursor: pointer;
}
.panel__item:hover {
  background-color: var(--btn-bg-color);
}

.panel__item:hover .panel__item-text {
  color: var(--main-box-color);
}
.panel__item:hover .panel__item-title {
  color: var(--main-box-color);
}
.panel__item:hover .panel__info-item {
  color: var(--main-box-color);
}
.panel__item:hover .panel__info-item--seats::before {
  background-image: url("../../images/icons/seats-light.svg");
}
.panel__item:hover .panel__info-item--years::before {
  background-image: url("../../images/icons/years-light.svg");
}
.panel__item:hover .panel__info-item--automatic::before {
  background-image: url("../../images/icons/automatic-light.svg");
}
.panel__item:hover .panel__info-item--petrol::before {
  background-image: url("../../images/icons/petrol-light.svg");
}

.panel__item-content {
  padding: 30px 24px 16px 24px;
}

.panel__item-title {
  margin: 0;
  margin-bottom: 8px;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: left;
}

.panel__item-text {
  margin: 0;
  font-style: normal;
  color: var(--main-info-color);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}

.panel__item-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px 0 30px 24px;
}

.panel__info-list:not(:last-child) {
  margin-right: 54px;
}

.panel__info-item {
  margin: 0;
  margin-bottom: 24px;
  margin-left: 32px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
  position: relative;
}
.panel__info-item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -32px;
  height: 20px;
  width: 20px;
}

.panel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 18px 30px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--btn-bg-color);
  border-radius: 100px;
  border: transparent;
  color: var(--main-box-color);
}

.panel__info-item--seats::before {
  background-image: url("../../images/icons/seats-dark.svg");
}

.panel__info-item--years::before {
  background-image: url("../../images/icons/years-dark.svg");
}

.panel__info-item--automatic::before {
  background-image: url("../../images/icons/automatic-dark.svg");
}

.panel__info-item--petrol::before {
  background-image: url("../../images/icons/petrol-dark.svg");
}

@media only screen and (max-width: 1215px) {
  .choose {
    padding-bottom: 120px;
  }
  .choose__content {
    margin-bottom: 30px;
  }
  .panel__list--active {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .panel__btn {
    margin-top: 30px;
  }
  .panel__item {
    margin-right: 10px;
  }
  .panel__item:nth-child(2) {
    margin-right: 0;
  }
  .panel__item:nth-child(4) {
    margin-right: 0;
  }
  .panel__item:nth-child(4) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 823px) {
  .choose {
    padding-bottom: 100px;
  }
  .choose__content {
    max-width: 321px;
  }
  .choose__title {
    font-size: 24px;
    line-height: 29px;
  }
  .choose__text {
    font-size: 12px;
    line-height: 15px;
  }
  .choose__filter-list {
    margin-bottom: 14px;
  }
  .choose__filter-item {
    padding: 14px 20px;
  }
  .choose__filter-item:not(:last-child) {
    margin-right: 14px;
  }
  .choose__filter-link {
    font-size: 14px;
    line-height: 17px;
  }
  .panel__list--active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel__item-title {
    font-size: 20px;
    line-height: 24px;
  }
  .panel__item-text {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 650px) {
  .panel__item {
    width: 358px;
    margin-right: 0;
  }
  .panel__item-img {
    width: 100%;
    max-width: 358px;
  }
}
@media only screen and (max-width: 400px) {
  .choose__filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__filter-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .panel__item-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel__info-list:not(:last-child) {
    margin-right: 0;
  }
}
.service {
  padding: 160px 0;
}

.service-wrapper__title {
  width: 341px;
  padding-bottom: 34px;
}

.service-wrapper__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  color: var(--main-text-color);
}

.service-wrapper__list {
  padding-bottom: 160px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service-wrapper__item:not(:last-child) {
  margin-right: 66px;
}

.service-service__title-wrap {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.service-service__text {
  margin: 0;
  padding-bottom: 10px;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  color: var(--main-text-color);
}

.service-service__parag {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--main-info-color);
}

.service-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-list__item {
  position: relative;
  width: 590px;
  padding: 40px;
  background-color: var(--darkmodbtn-card-bg-color);
  border-radius: 20px;
}
.service-list__item:nth-child(1) {
  margin-bottom: 20px;
}
.service-list__item:nth-child(2) {
  margin-bottom: 20px;
}
.service-list__item:nth-child(2):after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/guaranted-icon.svg");
  background-size: cover;
  background-position: center;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 60px;
}
.service-list__item:nth-child(3):after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/user-clock-default.svg");
  background-size: cover;
  background-position: center;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 60px;
}
.service-list__item:nth-child(4):after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/noreservation-icon.svg");
  background-size: cover;
  background-position: center;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 60px;
}

.service-list__item::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/book-online-icon.svg");
  background-size: cover;
  background-position: center;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 60px;
}

.service-list__inf {
  width: 211px;
  padding-bottom: 10px;
}

.service-list__book {
  margin: 0;
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
}

.service-list__in {
  width: 354px;
}

.service-list__complet {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: var(--main-info-color);
}

.service-list__ing {
  width: 260px;
  padding-bottom: 10px;
}

.service-list__inu {
  width: 278px;
  padding-bottom: 10px;
}

.service-list__inb {
  width: 288px;
  padding-bottom: 10px;
}

.safe {
  padding-bottom: 160px;
}

.safe-wrapper {
  background-color: var(--main-box-color);
  background-image: url("../../images/car-rental.png");
  background-position: calc(50% + 350px) calc(20% + 10px);
  background-size: 400px, 452px;
  background-repeat: no-repeat;
}

.safe-wrapper__inner {
  padding: 40px 32px 32px 32px;
  border: 1.5px solid #E5E7EA;
  border-radius: 20px;
}

.safe-wrapper__rental {
  max-width: 590px;
  width: 100%;
  margin-bottom: 90px;
}

.safe-wrapper__title {
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  text-align: left;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 10px;
}

.safe-wrapper__text {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: var(--main-info-color);
  margin: 0;
}

.safe-wrapper__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 18px 30px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--btn-bg-color);
  border-radius: 100px;
  border: transparent;
  color: var(--main-box-color);
}
.panel__btn:hover {
  background-color: #077743;
}
.panel__btn:active {
  color: var(--main-text-color);
  background-color: #F5F5F5;
}

.panel__info-item--seats::before {
  background-image: url("../../images/icons/seats-dark.svg");
}

.panel__info-item--years::before {
  background-image: url("../../images/icons/years-dark.svg");
}

.panel__info-item--automatic::before {
  background-image: url("../../images/icons/automatic-dark.svg");
}

.panel__info-item--petrol::before {
  background-image: url("../../images/icons/petrol-dark.svg");
}

@media only screen and (max-width: 1215px) {
  .choose {
    padding-bottom: 120px;
  }
  .choose__content {
    margin-bottom: 30px;
  }
  .panel__list--active {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .panel__btn {
    margin-top: 30px;
  }
  .panel__item {
    margin-right: 10px;
  }
  .panel__item:nth-child(2) {
    margin-right: 0;
  }
  .panel__item:nth-child(4) {
    margin-right: 0;
  }
  .panel__item:nth-child(4) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 823px) {
  .choose {
    padding-bottom: 100px;
  }
  .choose__content {
    max-width: 321px;
  }
  .choose__title {
    font-size: 24px;
    line-height: 29px;
  }
  .choose__text {
    font-size: 12px;
    line-height: 15px;
  }
  .choose__filter-list {
    margin-bottom: 14px;
  }
  .choose__filter-item {
    padding: 14px 20px;
  }
  .choose__filter-item:not(:last-child) {
    margin-right: 14px;
  }
  .choose__filter-link {
    font-size: 14px;
    line-height: 17px;
  }
  .panel__list--active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel__item-title {
    font-size: 20px;
    line-height: 24px;
  }
  .panel__item-text {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 650px) {
  .panel__item {
    width: 100%;
    max-width: 358px;
    margin-right: 0;
  }
  .panel__item-img {
    width: 100%;
    max-width: 358px;
  }
}
@media only screen and (max-width: 390px) {
  .choose__filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__filter-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .panel__item-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel__info-list:not(:last-child) {
    margin-right: 0;
  }

}
.site-footer__wrap {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-footer__main-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-footer__content-top {
  width: 100%;
  max-width: 240px;
  margin-right: 65px;
}

.site-footer__info-box {
  width: 100%;
  max-width: 240px;
  margin-bottom: 84px;
}

.site-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.site-footer__logo-img {
  margin: 0;
}

.site-footer__desc {
  margin: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: var(--main-info-color);
}

.site-footer__terms-box {
  width: 100%;
  max-width: 158px;
}

.site-footer__terms {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
}

.site-footer__faqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 40px;
  border-bottom: 1.5px solid;
  border-color: var(--border-color);
}

.site-footer__faqs-about {
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
}

.site-footer__faqs-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__faqs-item:not(:last-child) {
  margin-bottom: 12px;
}

.site-footer__faqs-link {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: left;
  color: #555555;
}
.site-footer__faqs-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--main-text-color);
}

.site-footer__faqs-adress {
  font-style: normal !important;
}

.site-footer__contacts {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-footer__contact-box--hours {
  margin-right: 52px;
  margin-left: 49px;
  text-align: start;
}

.site-footer__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.safe-wrapper__item {
  position: relative;
  width: 200px;
  height: 160px;
  margin: 0;
  padding: 79px 15px 15px 15px;
  background-color: var(--darkmodbtn-card-bg-color);
  border-radius: 16px;
}
.safe-wrapper__item:nth-child(1)::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../../images/icons/cleaned-light.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
}
.safe-wrapper__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.site-footer__faqs-link--act {
  margin-bottom: 12px;
}

.site-footer__time {
  display: block;
}
.site-footer__time:not(:last-child) {
  margin-bottom: 12px;
}

.site-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__socials-link {
  display: inline-block;
  text-decoration: none;
}

.site-footer__socials-item {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--main-text-color);
}
.site-footer__socials-item:not(:last-child) {
  margin-right: 15px;
}
.site-footer__socials-item:nth-child(1):hover {
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
}
.site-footer__socials-item:nth-child(2):hover {
  background-color: #55ACE3;
}
.site-footer__socials-item:nth-child(3):hover {
  background-color: #55ACE3;
}
.site-footer__socials-item:nth-child(4):hover {
  background-color: #48C95F;
}

.site-footer__faqs-about--social {
  margin-bottom: 22px;
}

.site-footer__socials-img {
  width: 20px;
  height: 20px;
}
.site-footer__socials-img:nth-child(3) {
  width: 11px;
  height: 23px;
}

@media only screen and (max-width: 980px) {
  .site-footer__wrap {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-footer__content-top {
    width: 100%;
    max-width: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .site-footer__main-links {
    width: 100%;
    max-width: 850px;
  }
  .site-footer__info-box {
    margin-bottom: 0;
    margin-right: auto;
  }
}
@media only screen and (max-width: 661px) {
  .site-footer__wrap {
    padding: 20px 0;
  }
  .site-footer__faqs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 32px;
  }
  .site-footer__faqs-box {
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .site-footer__faqs-box:nth-child(2) {
    margin-right: 0;
  }
  .site-footer__faqs-box:nth-child(3) {
    margin-bottom: 0;
  }
  .site-footer__faqs-box:nth-child(4) {
    margin-bottom: 0;
    margin-right: 0;
  }
  .site-footer__contacts {
    padding-top: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .site-footer__socials {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 460px) {
  .site-footer__faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-footer__content-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .site-footer__faqs-box {
    width: 100%;
    max-width: 150px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .site-footer__info-box {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .site-footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-footer__contact-box {
    margin-bottom: 20px;
  }
.safe-wrapper__item:nth-child(2)::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../../images/icons/heart-default.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
}
.safe-wrapper__item:nth-child(3)::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../../images/icons/cdc-lock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
}
.safe-wrapper__item:not(:last-child) {
  margin-right: 10px;
}

.safe-wrapper__every {
  width: 170px;
  margin: 0;
}

.safe-wrapper__text-every {
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

.community {
  background-color: var(--darkmodbtn-card-bg-color);
  padding: 100px 0;
}

.community-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  background-color: var(--main-body-color);
}

.community-content {
  max-width: 470px;
  padding: 70px;
}

.community-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  color: #4285f4;
}
.community-content__link::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("../../images/icons/google-icon.svg");
  background-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.community-content__title {
  margin: 16px 0 30px 0;
  font-style: normal;
  font-size: 38px;
  line-height: 50px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-color);
}

.border-colors {
  display: block;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(19.83%, #ea4335), color-stop(65%, #fbbc05), color-stop(82.29%, #34a853), to(#4285f4));
  background-image: linear-gradient(90deg, #ea4335 19.83%, #fbbc05 65%, #34a853 82.29%, #4285f4 100%);
}

.community-content-text {
  margin: 30px 0 16px 0;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: left;
  color: var(--main-info-color);
}

.btn-instagram {
  padding: 18px 50px;
  border: 1.5px solid;
  border-radius: 100px;
  border-image-source: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #f9ed32 0%, #ee2a7b 36%, #d22a8a 44%, #8b2ab2 60%, #1b2af0 83%, #002aff 88%);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #f9ed32 0%, #ee2a7b 36%, #d22a8a 44%, #8b2ab2 60%, #1b2af0 83%, #002aff 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.community-crousel {
  max-width: 730px;
  border-radius: 0 20px 20px 0;
  background-color: var(--btn-bg-color);
}
.community-crousel .owl-nav {
  bottom: -60px;
}
.community-crousel .owl-dots {
  bottom: -50px;
}
.community-crousel .owl-dots .active span {
  width: 200px !important;
  margin: 0;
  z-index: 2;
}
.community-crousel .owl-dot span {
  width: 110px !important;
  margin: 0 0 0 -5px !important;
  z-index: 1;
}

.owl-stage {
  margin: 0;
}

.community-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items {
  margin-top: 50px;
  margin-left: 40px;
  width: 420px;
  padding: 24px;
  background-color: var(--main-body-color);
  border-radius: 16px;
}

.user-nsme {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 5px;
}

.user-email {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-info-color);
}

.user-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}

.goofle {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
.goofle img {
  width: 21px !important;
  height: 21px;
}

.contents {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-text-color);
  padding-bottom: 25px;
  border-bottom: 1.5px solid #E5E7EA;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-img {
  width: 124px !important;
  margin-left: 17px;
}

.rating-title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-text-color);
}

@media only screen and (max-width: 1045px) {
  .community-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px;
    background-color: var(--main-body-color);
  }
}/*# sourceMappingURL=main.css.map */