/* VARIABLES */
:root {
  --main-body-color: #eeeeee;
  --main-text-color: #000000;
  --main-info-color:#555;
  --darkmodbtn-card-bg-color: #f5f5f5;
  --border-color:#E5E7EA;
  --main-box-color: #ffffff;
  --btn-bg-color: #299764;
}
.dark {
  --main-body-color: #1c1c1c;
  --main-text-color: #ffffff;
  --darkmodbtn-card-bg-color: #272727;
  --btn-bg-color: #299764;
}
