.community {
  background-color: var(--darkmodbtn-card-bg-color);
  padding: 100px 0;
}
.community-inner {
  display: flex;
  border-radius: 20px;
  background-color: var(--main-body-color);
}
.community-content {
  max-width: 470px;
  padding: 70px;
}
.community-content__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include typography-styles(normal, 16px, 20px, 500, left);
  color: #4285f4;
  &::before {
    @include psevdoelements(inline-block, 22px, 22px, "");
    background-image: url("../../images/icons/google-icon.svg");
    @include bgImages(center, no-repeat, 10px);
    background-color: #fff;
    border-radius: 50%;
    margin-right: 8px;
  }
}
.community-content__title {
  margin: 16px 0 30px 0;
  @include typography-styles(normal, 38px, 50px, 500, left);
  color: var(--main-text-color);
}
.border-colors {
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    #ea4335 19.83%,
    #fbbc05 65%,
    #34a853 82.29%,
    #4285f4 100%
  );
}
.community-content-text {
  margin: 30px 0 16px 0;
  @include typography-styles(normal, 14px, 17px, 500, left);
  color: var(--main-info-color);
}
.btn-instagram {
  padding: 18px 50px;
  border: 1.5px solid;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.community-crousel {
  max-width: 730px;
  border-radius: 0 20px 20px 0 ;
  background-color: var(--btn-bg-color);

  .owl-nav {
    bottom: -60px;
  }
  .owl-dots{
    bottom: -50px;
    .active {
      span {
        width: 200px !important;
        margin: 0;
        z-index: 2;
      }
    }
  }
  .owl-dot{ 
    span {
      width: 110px !important;
       margin: 0  0 0 -5px!important; 
       z-index: 1;
    }
  }
}
.owl-stage {
margin: 0;
}
.community-item-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user{
  display: flex;
  align-items: center;
}
.items{
  margin-top:50px;
  margin-left: 40px;
  width: 420px;
  padding: 24px;
  background-color: var(--main-body-color);
border-radius: 16px;
}
.user-nsme {
  font-weight: 600;
font-size: 16px;
line-height: 20px;
color: var(--main-text-color);
margin: 0;
margin-bottom: 5px;
}
.user-email {
  margin: 0;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: var(--main-info-color);

}
.user-img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}
.goofle {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  img {
    width: 21px !important;
    height: 21px;
  }
}

.contents{
font-weight: 400;
font-size: 14px;
line-height: 20px;
color:var(--main-text-color);
padding-bottom: 25px;

border-bottom: 1.5px solid #E5E7EA;
}
.rating{
  display: flex;
  align-items: center;
}
.rating-img{
  width: 124px !important;
  margin-left: 17px;
}
.rating-title{ 
  margin: 0;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: var(--main-text-color);
}

@include desktop-first(1045px) {
  .community-inner {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--main-body-color);
  }
}